.screen {
    display:block;
    width:380px;
    height:60px;
    font-size:40px;
    font-family:Helvetica;
    text-align:right;
    line-height:60px;
    padding:10px;
    background-color:#111111;
    color:#0088FF;
}

#stack {
    color:grey;
    font-size:30px;
}

#keypad {
    display:block;
    width:400px;
}

.btnlabel {
    font-size:20px;
    text-transform:uppercase;
}

button {
    display:block;
    float:left;
    width:100px;
    height:100px;
    font-size:50px;
    background-color:#CCCCCC;
    outline:none;
    border:none;
    transition: all 0.3s;
}

button:hover {
    background-color:#888888;
}
